NEXT_PUBLIC_SITE_URL=https://minotaurus-iota.vercel.app
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_BASE_APP_ID=
NEXT_PUBLIC_BUILDER_CODE=bc_j3lsferc
NEXT_PUBLIC_CHECK_IN_CONTRACT_ADDRESS=0x9bE5C6fE1997708e5408c6268121DAEb6b4b0EEd
